type: rr

# RR Routers
rr:
  defaults:
    # platform: 7280QR-C36-M
    overlay_address_families: [ vpn-ipv4, evpn ]
    loopback_ipv4_pool: 100.70.0.0/24
    is_type: level-1-2
    node_sid_base: 300
    isis_system_id_prefix: '0000.0000'
    bgp_defaults:
      - 'no bgp default ipv4-unicast'
      - 'distance bgp 20 200 200'
      - 'graceful-restart restart-time 300'
      - 'graceful-restart'
      - 'bgp route-reflector preserve-attributes always'
    raw_eos_cli: |
      management security
         password encryption-key common
  node_groups:
    P-01-02:
      bgp_cluster_id: 100.70.0.5
      nodes:
        P-01:
          id: 11
          mgmt_ip: 192.168.111.231/24
        P-02:
          id: 12
          mgmt_ip: 192.168.111.232/24