clab-mpls1/ce01/flash/persist/sys
clab-mpls1/ce02/flash/persist/sys
clab-mpls1/p01/flash/persist/sys
clab-mpls1/p02/flash/persist/sys
clab-mpls1/pe01/flash/persist/sys
clab-mpls1/pe02/flash/persist/sys
clab-mpls1/pe03/flash/persist/sys
clab-mpls1/pe04/flash/persist/sys
